@{
    ViewBag.Title = "Profile";
}
<div class="container col-lg-6">
    <div class="row">
        <div>
            <img class="img-responsive profile-pic" src="http://www.aceshowbiz.com/images/photo/chuck_norris.jpg">
        </div>
        <div class="row">
            <div class="container center-btn">
                <div class="spacing-form row">
                    Nome:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    Sobrenome:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    Sexo:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    NIF:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    Adress:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    Contact:
                    <label for=""></label>
                </div>
                <div class="spacing-form row">
                    E-mail:
                    <label for=""></label>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-6">
        <div class="row">
            <h2 class="left-btn">Bares</h2>
            <h4 class="right-btn"><li>@Html.ActionLink("Adicionar Bar", "", "")</li></h4>
        </div>
        <div class="row profile-pic">
            <div class="col-lg-3">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            <div class="row col-lg-3">
                <div class="row">
                    Nome:
                    <label for=""></label>
                </div>
                <div class="row">
                    Distrito:
                    <label for=""></label>
                </div>
                <div class="row">
                    Rating:
                    <label for=""></label>
                </div>
            </div>
            <div class="row col-lg-6">
                <div class="row">
                    <h4><li>@Html.ActionLink("Ver Mais", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Editar", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Eliminar", "", "")</li>></h4>
                </div>
                <div class="row right-btn">
                    Pontos:
                    <label for=""></label>
                </div>
            </div>
        </div>
        <div class="row profile-pic">
            <div class="col-lg-3">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            <div class="row col-lg-3">
                <div class="row">
                    Nome:
                    <label for=""></label>
                </div>
                <div class="row">
                    Distrito:
                    <label for=""></label>
                </div>
                <div class="row">
                    Rating:
                    <label for=""></label>
                </div>
            </div>
            <div class="row col-lg-6">
                <div class="row">
                    <h4><li>@Html.ActionLink("Ver Mais", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Editar", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Eliminar", "", "")</li>></h4>
                </div>
                <div class="row right-btn">
                    Pontos:
                    <label for=""></label>
                </div>
            </div>
        </div>
        <div class="row profile-pic">
            <div class="col-lg-3">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/he/0/04/Guinness_logo.png">
            </div>
            <div class="row col-lg-3">
                <div class="row">
                    Nome:
                    <label for=""></label>
                </div>
                <div class="row">
                    Distrito:
                    <label for=""></label>
                </div>
                <div class="row">
                    Rating:
                    <label for=""></label>
                </div>
            </div>
            <div class="row col-lg-6">
                <div class="row">
                    <h4><li>@Html.ActionLink("Ver Mais", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Editar", "", "")</li></h4>
                    |
                    <h4><li>@Html.ActionLink("Eliminar", "", "")</li>></h4>
                </div>
                <div class="row right-btn">
                    Pontos:
                    <label for=""></label>
                </div>
            </div>
        </div>

    </div>
