@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">

        <!--carousel
            ---------------------------------------------------------------------------------------->
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
                <li data-target="#mycarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active dimensionimg-carousel">
                    <img src="/Content/images/bar11.jpg" class=" dimensionimg-carousel">

                </div>
                <div class="item">
                    <img src="/Content/images/bar12.jpg" class=" dimensionimg-carousel">
                </div>
                <div class="item">
                    <img src="/Content/images/bar13.jpg" class=" dimensionimg-carousel">
                </div>
                <div class="item">
                    <img src="/Content/images/bar15.jpg" class=" dimensionimg-carousel">
                </div>
            </div>
            <a class="left carousel-control" href="#mycarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#mycarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!--end carousel
            --------------------------------------------------------------------------------->
        <!-- position relative
           top -100px
            -->
        <div class="index-btn">
            <h1>Where to...</h1>
            <button type="button">Login</button>
            <button type="button">Sign in</button>
            </div> 
        </div>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
       
</body>
</html>
